datasets/datasets.xlsx
datasets/anonymisedData/assessments.csv
datasets/anonymisedData/courses.csv
datasets/anonymisedData/studentAssessment.csv
datasets/anonymisedData/studentInfo.csv
datasets/anonymisedData/studentRegistration.csv
datasets/anonymisedData/studentVle.csv
datasets/anonymisedData/vle.csv
.env
notas.txt
Experiencias/jsonfier.py
.streamlit/secrets.toml
Experiencias/exp_streamlit/credentials.yaml
query.py
