/* ========== Variaveis para reutilizar ========== */
:root {
    /* form box size */
    --form-box-width: 40%;
    /* option box size */
    --option-box-width: 40%;
    /*  table box size */
    --table-box-width: 100%;
    --table-box-height: 500px;

    /* ==== Colors ===== */
    /* --body-color: white;
    --sidebar-color: lightgrey;
    --bezzel-color: lightgrey;
    --lightbezzel-color: rgb(235, 235, 235);
    --primary-color: grey;
    --text-color: black; */
    /* ==== Alternative Colors ===== */
    --body-color: white;
    --bezzel-color: #C2CFB2;
    --lightbezzel-color: white;
    --primary-color: #8DB580;
    --text-color: black;
    /* other colors that fit this theme: */
    /* 7E8987
    4B4A67
    DDD1C7 */

    /* ===== Transtions ===== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
/* Adaptar a variavel ao tamanho do ecra */
@media screen and (max-width: 600px) {
    :root {
        --form-box-width: 300px;
        --option-box-width: 300px;
        --table-box-width: 300px;
    }
}
@media screen and (min-width: 600px) {
    :root {
        --form-box-width: 400px;
        --option-box-width: 400px;
        --table-box-width: 450px;
    }
}
@media screen and (max-height: 670px) {
    :root {
        --table-box-height: 300px;
    }
}

/* ========== GENERAL CSS ========== */
#title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 65px;
}
/* #title a {
    margin: 0;
} */
/* #title h2 {
    margin: 0 0 0 10px;
} */
.option-button {
    width: var(--option-box-width);
    margin-top: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.option-button:hover {
    background-color: var(--primary-color) !important;
}
.option-button:hover .text{
    color: var(--body-color);
}
#back-button:hover {
    color: var(--body-color);
}
.body-con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.body-con-2navs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
}
.body-con-1navs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
}
.body-con-modelform {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}
#ds-info {
    padding-top: 10px;
}

/* ========== BASE TEMPLATE ========== */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    background-color: var(--body-color);
}
/* ========== Sidebar ========== */
/* .sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-04);
    z-index: 100;
}
.sidebar .menu{
    margin-top: 35px;
}
.sidebar.close {
    width: 88px;
}
.sidebar li{
    height: 60px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
}

.sidebar li .icon{
    font-size: 30px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar li .icon, 
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}
.sidebar header {
    position: relative;
    
}
.sidebar .image-text img{
    width: 40px;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
 header .image-text .header-text{
    display: flex;
    flex-direction: column;
 }
.header-text .name{
    font-weight: 600;
}
.header-text .profession{
    margin-top: -2px;
}
.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--bezzel-color);
    font-size: 22px;
    transition: var(--tran-03);
}
.sidebar.close header .toggle{
    transform: translateY(-50%);
}
.sidebar li a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-04);
}
.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
} 
.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar .bottom-content li{
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar .bottom-content li{
    padding-top: 10px;
    padding-bottom: 10px;
} */

/* ========== MAIN MENU ========== */

.main-menu-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 0 0 88px;
    background-color: white;
    overflow: hidden;
}
.logo-big {
    width: 300px;
    position: absolute;
    top: 10px;
    right: 10px;
}
#icon-button {
    position: absolute;
    bottom: 70px;
    right: 70px;
}
#icon-button:hover {
    color: var(--body-color);
}
#icon-image {
    width: 100%;
    height: 100%;
}
.button-container {
    margin: 0 20px;
    text-align: center; 
    text-decoration: none;
}
.button-container p {
    margin-top: 10px;
}
.menu-button-img {
    width: 100px;
    height: 100px;
    margin: 0;
    background-size: cover;
}
.menu-button-img:hover {
    color: var(--body-color);
}
.button-roll {
    display: flex;
    justify-content: center;
}
#default_pw-warning {
    color: red;
    position: absolute;
    bottom: 50px;;
}

/* ========== Bootstrap Override ========== */
.btn-primary {
    background-color: var(--bezzel-color);
    color: black;
    border-color: black;
}
.btn-primary:hover {
    background-color: var(--bezzel-color);
    color: black;
    border-color: black;
}
.btn-primary:active {
    background-color: var(--bezzel-color);
    color: black;
    border-color: black;
}
.btn.btn-primary:visited {
    background-color: var(--bezzel-color);
    color: black;
    border-color: white;
}
.btn.btn-primary:hover {
    background-color: var(--primary-color) !important;
    color: var(--body-color) !important;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
    background-color: var(--primary-color) !important;
    color: var(--body-color) !important;
    border-color: var(--body-color) !important;
}
.dropdown-item:active {
    background-color: var(--primary-color) !important;
}
#max_features::-webkit-slider-thumb {
    background: var(--primary-color);
}

#max_features::-moz-range-thumb {
    background: var(--primary-color);
}


/* ========== FORMS ========== */
.login-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    overflow: hidden;
}
#form-box {
    width: var(--form-box-width);
    text-align: left;
    background-color: var(--bezzel-color);
    padding: 20px;
    border-radius: 10px;
}
#submit-bt-div {
    text-align: left; 
    width: var(--form-box-width);
}
.btn.btn-primary {
    text-align: left;
    margin-top: 10px;
    /* background-color: white; */
    border-color: white;
}
.btn-primary:active, .btn-primary.active {
    background-color: lightgrey !important;
    border-color: white !important;
}
#error {
    color: red;
}
#info {
    color: green;
}
#form-title {
    margin-bottom: 10px;
}

/* ========== TABLE ========== */
#table-box {
    margin: 15px 0 15px 0;
    height: var(--table-box-height);
    overflow: auto;
}
#clickable-table-box {
    width: var(--table-box-width);
    /* height: var(--table-box-height); */
    height: 400px;
    text-align: left;
    background-color: var(--bezzel-color);
    padding: 20px;
    border-radius: 10px;
}
#trainmodel-table-box {
    width: var(--table-box-width);
    text-align: left;
    background-color: var(--bezzel-color);
    padding: 20px;
    border-radius: 10px;
}
#trainmodel-table-box tr{
    background-color: var(--body-color);
}
tr {
    text-align: left !important;
}
#clickable-table-box tr{
    background-color: var(--body-color);
}
thead, .clickable-table-header {
    background-color: var(--bezzel-color);
}
.clickable-tr {
    cursor: pointer;
}
.clickable-tr:hover {
    background-color: var(--bezzel-color) !important;
}
.clickable-table-header {
    cursor: auto;
}
#inner-table-box {
    margin-bottom: 0 !important;
    /* height: var(--table-box-height - 168px); */
    height: 360px;
    overflow: auto;
}
.table {
    margin-bottom: 0;
}
#ds-head {
    width: 100%;
    height: 400px;
    overflow: auto;
}
#ds-table {
    width: 100%;
    /* height: 400px; */
    overflow: auto;
}

/* ====== New Base (Navbar) ====== */

#logo {
    max-height: 30px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.bg-light {
    background-color: var(--bezzel-color) !important;
}

/* ====== Secondary NavBar ====== */

.bg-sec-nav {
    background-color: rgb(235, 235, 235) !important;
}
#secnav-title {
    width: 176px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}