{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="body-con">

        <div>

            <div id="form-title">
                <h5>Criar conta</h5>
            </div>

            <div id="form-box">

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flashes">
                        {% for category, message in messages %}
                            <li id="{{ category }}">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <form action="{{url_for('create_user')}}" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="fullname" placeholder="Nome Completo">
                        <label for="floatingInput">Nome Completo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" name="email" placeholder="E-mail">
                        <label for="floatingInput">E-mail</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="num_id" placeholder="Numero ID">
                        <label for="floatingInput">Numero ID</label>
                    </div>
                    <select class="form-select" aria-label="Tipo de conta" name="type" placeholder="Tipo de conta">
                        <option selected>Tipo de conta</option>
                        <option value="1">Administrador</option>
                        <option value="2">Docente</option>
                        <option value="3">Cientista de dados</option>
                    </select>
            </div> <!-- Botao de submeter deve estar fora da caixa -->
                    <div id="submit-bt-div">
                        <input class="btn btn-primary" type="submit" value="Criar">
                    </div>
                </form>
        </div>

    </div>
</div>

{% endblock %}
