{% extends 'base.html' %}

{% block body %}

<h2 id="title">Conta</h2>

<div id="options">
    <a class="btn btn-primary option-button" href="{{ url_for('logout') }}">
        <!-- <i class="bi bi-box-arrow-right icon"></i> -->
        <span class="text nav-text">Terminar Sessão</span>
    </a>

    <a class="btn btn-primary option-button" href="{{ url_for('change_pw') }}">
        <!-- <i class="bi bi-key icon"></i> -->
        <span class="text nav-text">Alterar Palavra-Passe</span>
    </a>
</div>

{% endblock %}
