<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Insight Scholaris - Login</title>
</head>
<body class="login-body">
    <img class="logo-big" src="/static/img/logo.svg" alt="Logo Insight Scholaris">

    <div id="form-box">
		<h3>Login</h3>

		{% with messages = get_flashed_messages(with_categories=true) %}
        	{% if messages %}
            	<ul class="flashes">
            		{% for category, message in messages %}
                		<li id="{{ category }}">{{ message }}</li>
            		{% endfor %}
            	</ul>
        	{% endif %}
    	{% endwith %}

    <form action="{{url_for('login')}}" method="post">
    	<div class="form-floating mb-3">
        	<input type="email" class="form-control" name="email" id="email" placeholder="nome@exemplo.com">
        	<label for="floatingInput">Endereço de Email</label>
        </div>
        <div class="form-floating">
        	<input type="password" class="form-control" name="password" id="password" placeholder="Palavra-Passe">
        	<label for="floatingPassword">Palavra-Passe</label>
      	</div>

	</div> <!-- Botao de login esta fora da login box -->
    	<div id="submit-bt-div">
      		<input class="btn btn-primary" type="submit" value="Submeter">
    	</div>
    </form>
    

</body>
</html>
