{% extends 'base.html' %}

{% block body %}

<div class="container">
    {% if list_models %}
    <div class="body-con-1navs">

        <div>
        <div id="form-title">
            <h5>Historico de modelos</h5>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li id="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div id="clickable-table-box">

            <div id="inner-table-box">
                <table class="table">
                    <tr class="clickable-table-header">
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>F1 Score</th>
                        <th>Criado em</th>
                    </tr>
                    {% for line in list_models %}
                        <tr class="clickable-tr" onclick="document.getElementById('form{{ loop.index }}').submit();">
                            <form id="form{{ loop.index }}" method="POST" action="{{ url_for('select_model') }}">
                                <input type="hidden" name="id" value="{{ line['ID'] }}">
                                <td>{{ line['ID'] }}</td>
                                <td>{{ line['Nome'] }}</td>
                                <td>{{ line['Tipo'] }}</td>
                                <td>{{ line['F1 Score']|round(2) }}</td>
                                <td>{{ line['Criado em'].strftime('%d-%m-%Y') }}</td>
                            </form>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        </div>
    </div>
        {% else %}
            <!-- Não ha datasets para selecionar -->
            <div id="form-title" style="margin-top: 30px;">
                <h5>Não há modelos para selecionar</h5>
            </div>
            <div>
                <a href="{{ url_for('create_model') }}" class="btn btn-primary">Criar novo modelo</a>
            </div>
            
        {% endif %}

    
</div>


{% endblock %}
